@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
.App {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}
button {
  padding: 12px 12px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  background-color: #4caf50;
  display: block;
  cursor: pointer;
}
.set-btn {
  margin: 24px 24px;
}
button:hover {
  background-color: #343a40;
}
.practice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10% 15%;
}

.word-container {
  margin: 10%;
}
.word {
  font-size: 15vw;
  font-weight: 600;
}
